services:
  api-gateway:
    image: nginx:latest
    container_name: api-gateway
    ports:
      - "8081:8081"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - users-service
      - inventory-service
      - bookings-service
      - payments-service
    networks:
      - retail-network

  users-service:
    build: 
      context: ./services/users
      dockerfile: Dockerfile.dev
    env_file:
      - ./services/users/.env.dev
    volumes:
      - ./services/users:/app
      - /app/node_modules
    depends_on:
      - postgres-users
    networks:
      - retail-network

  postgres-users:
    image: postgres:16-alpine
    container_name: users_postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: users_service_dev
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - retail-network

  inventory-service:
    build: 
      context: ./services/inventory
      dockerfile: Dockerfile.dev
    env_file:
      - ./services/inventory/.env
    volumes:
      - ./services/inventory:/app
      - /app/node_modules
    networks:
      - retail-network

  bookings-service:
    build: 
      context: ./services/bookings
      dockerfile: Dockerfile.dev
    env_file:
      - ./services/bookings/.env
    volumes:
      - ./services/bookings:/app
      - /app/node_modules
    networks:
      - retail-network

  payments-service:
    build: ./services/payments
    volumes:
      - ./services/payments/src/main/resources/application-dev.properties:/config/application-dev.properties:ro
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CONFIG_LOCATION=/config/
    networks:
      - retail-network
      
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"     # AMQP
      - "15672:15672"   # Management UI
    networks:
      - retail-network

  email-service:
    build:
      context: ./services/emails
      dockerfile: Dockerfile
    env_file:
      - ./services/emails/.env
    depends_on:
      - rabbitmq
    networks:
      - retail-network

networks:
  retail-network:
    driver: bridge

volumes:
  pgdata: