services:
  api-gateway:
    image: nginx:latest
    container_name: api-gateway
    ports:
      - "8081:8081"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - users-service
      - inventory-service
      - bookings-service
      - payments-service
    networks:
      - retail-network

  users-service:
    build:
      context: ./services/users
      dockerfile: Dockerfile
    env_file:
      - ./services/users/.env
    volumes:
      - ./services/users:/app
      - /app/node_modules
    networks:
      - retail-network

  inventory-service:
    build:
      context: ./services/inventory
      dockerfile: Dockerfile
    env_file:
      - ./services/inventory/.env
    volumes:
      - ./services/inventory:/app
      - /app/node_modules
    networks:
      - retail-network

  bookings-service:
    build:
      context: ./services/bookings
      dockerfile: Dockerfile
    env_file:
      - ./services/bookings/.env
    volumes:
      - ./services/bookings:/app
      - /app/node_modules
    networks:
      - retail-network

  payments-service:
    build: ./services/payments
    volumes:
      - ./services/payments/src/main/resources/application-dev.properties:/config/application-dev.properties:ro
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_CONFIG_LOCATION=/config/
    networks:
      - retail-network

  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - retail-network

  email-service:
    build:
      context: ./services/emails
      dockerfile: Dockerfile
    env_file:
      - ./services/emails/.env
    depends_on:
      - rabbitmq
    networks:
      - retail-network

networks:
  retail-network:
    driver: bridge
