# Not implemented yet
services:
  api-gateway:
    image: nginx:latest
    container_name: api-gateway
    ports:
      - "8081:8081"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - users-service
      - inventory-service
      - bookings-service
      - emails-service
      - payments-service
    networks:
      - retail-network

  users-service:
    build: ./services/users
    container_name: users-service
    ports:
      - "3003:3003"
    networks:
      - retail-network

  inventory-service:
    build: ./services/inventory
    container_name: inventory-service
    ports:
      - "3001:3001"
    networks:
      - retail-network

  bookings-service:
    build: ./services/bookings
    container_name: bookings-service
    ports:
      - "3002:3002"
    networks:
      - retail-network

  emails-service:
    build: ./services/emails
    container_name: emails-service
    ports:
      - "3004:3004"
    networks:
      - retail-network

  payments-service:
    build: ./services/payments
    container_name: payments-service
    ports:
      - "8080:8080"
    networks:
      - retail-network

  # rabbitmq:
  #   image: rabbitmq:3-management
  #   container_name: rabbitmq
  #   ports:
  #     - "5672:5672"    # AMQP
  #     - "15672:15672"  # Management UI
  #   networks:
  #     - retail-network

networks:
  retail-network:
    driver: bridge
